In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import seaborn as sns
from sklearn.metrics import r2_score , accuracy_score, mean_absolute_error, mean_squared_error

In [3]:
df = pd.read_csv('test.csv')
df

      x          y
0    77  79.775152
1    21  23.177279
2    22  25.609262
3    20  17.857388
4    36  41.849864
..   ..        ...
295  71  68.545888
296  46  47.334876
297  55  54.090637
298  62  63.297171
299  47  52.459467

[300 rows x 2 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       300 non-null    int64
 1   y       300 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 4.8 KB

In [5]:
x = df['x']
y = df['y']

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3, random_state= 1)