In [1]:
#1.	Write a program to swap case of the input text
#Example:  This Is A Piece Of Text   tHIS iS a pIECE oF tEXT
str = 'This Is A Piece Of Text'
str = str.swapcase()
str

'tHIS iS a pIECE oF tEXT'

In [2]:
import re
text = '22AAAAA0000A1Z5'
x = re.findall('[0-9A-Z]{15}',text)
x

['22AAAAA0000A1Z5']

In [ ]:
i = 0
while i<5:
    print(i)
    i=+1
    if i==3:
        break
    else:
        print(0)

In [3]:
str1 = 'hello'
c=0
for x in str1:
    if (x!='l'):
        c+=1
    else:
        pass
print(c)

3

In [6]:
i = 2 
while i>0:
    i=i-1
    print(i)

1
0

In [7]:
x= 12 
for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
8.	Given a list l = [[1,”abcd”,2.3],[2,”dfdf”,4.5],[3,”vdfdf”,3.7]], give the command to create a pandas dataframe with column names “Sl. No”, “Name”, “Exp”.

In [12]:
import pandas as pd 
list1 = [[1,'abcd',2.3],[2,'dfdf',4.5],[3,'vdfdf',3.7]]
df= pd.DataFrame(list1, columns= ['sr no','name','exp'])
df

   sr no   name  exp
0      1   abcd  2.3
1      2   dfdf  4.5
2      3  vdfdf  3.7